.more
{
  height: 166px;

  display: flex;
  justify-content: center;
}

/*********************************************/

.more__button
{  
  margin: 50px 0 auto;
  padding: 0;

  width: 100%;
  min-height: 36px;
  border-radius: 6px;
  
  font-weight: 500;
  font-size: 12px;

  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px)
{    
  .more__button
  {
    margin-top: 80px;
  }
}

@media screen and (max-width: 320px)
{    
  .more__button
  {
    margin-top: 50px;
  }
}