.about-me
{
  height: 1079px;
}

@media screen and (max-width: 768px)
{
  .about-me
  {
    height: 994px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me
  {
    height: 1198px;
  }
}

/*********************************************/

.about-me__header
{
  padding-top: 110px;
}

@media screen and (max-width: 768px)
{  
  .about-me__header
  {
    padding-top: 90px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me__header
  {
    padding-top: 70px;
  }
}

/*********************************************/

.about-me__columns
{
  padding: 66px 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 320px)
{
  .about-me__columns
  {
    padding-top: 60px;
    flex-direction: column-reverse;
  }
}

/*********************************************/

.about-me__info
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*********************************************/

.about-me__title
{
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

@media screen and (max-width: 768px)
{  
  .about-me__title
  {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me__title
  {
    font-size: 30px;
    line-height: 36.31px;
    margin-top: 40px;
  }
}

/*********************************************/

.about-me__subtitle
{
  margin: 18px 0 0;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 768px)
{  
  .about-me__subtitle
  {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me__subtitle
  {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}

/*********************************************/

.about-me__paragraph
{
  margin: 26px 0 0;
  padding: 0;
  max-width: 600px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 768px)
{  
  .about-me__paragraph
  {
    margin-top: 20px;
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me__paragraph
  {
    max-width: 100%;
    font-size: 11px;
    line-height: 16px;
  }
}

/*********************************************/

.about-me__link
{
  margin: 0;
  padding: 0;
  
  height: 100%;
  display: flex;
  align-items: flex-end;

  font-weight: 500;
  font-size: 14px;
  line-height: 16,94px;
}

@media screen and (max-width: 320px)
{
  .about-me__link
  {
    margin-top: 40px;
  }
}

/*********************************************/

.about-me__photo
{
  margin: 0;
  padding: 0;
  width: 270px;
  height: 327px;
  border-radius: 10px;

  background-size: cover;
  background-position: center;  
  overflow: hidden;
}

@media screen and (max-width: 768px)
{  
  .about-me__photo
  {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me__photo
  {
    width: 100%;
    height: 352px;
  }
}

/*********************************************/

.about-me__portfolio
{
  margin: 100px 0 0;
  padding: 0;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: rgb(139,139,139);
}

@media screen and (max-width: 768px)
{  
  .about-me__portfolio
  {
    margin-top: 91px;
  }
}

@media screen and (max-width: 320px)
{
  .about-me__portfolio
  {
    margin-top: 70px;
    font-size: 14px;
  }
}

/*********************************************/

.about-me_projects
{
  margin: 50px auto 0;
  padding: 0;

  list-style-type: none;
}

@media screen and (max-width: 320px)
{
  .about-me_projects
  {
    margin-top: 40px;
  }
}

/*********************************************/

.project
{
  margin: 20px 0 0;
  padding: 0 0 19px;
  
  border-bottom: 1px solid rgb(66, 66, 66);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.project:last-of-type
{
  border: none;
}

@media screen and (max-width: 768px)
{  
  .project
  {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px)
{
  .project
  {
    font-size: 18px;
    line-height: 28px;
  }
}

/*********************************************/

.project__name
{
  margin: 0;
  padding: 0;  
}

/*********************************************/

.project__link
{
  margin: 0;
  padding: 0;  
}
