.page-error
{
  min-height: 700px;

  display: flex;
  flex-direction: column;
  text-align: end;
}

@media screen and (max-width: 768px)
{    
  .page-error
  {
    min-height: 1024px;
  }
}

@media screen and (max-width: 320px)
{    
  .page-error
  {
    min-height: 780px;
    position: relative;
  }
}

/*********************************************/

.page-error__text
{
  padding: 0;
  margin: auto;

  height: 100%;

  font-weight: 400;
  font-size: 16px;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 320px)
{    
  .page-error__text
  {
    font-size: 12px;
  }
}

/*********************************************/

.page-error__code
{
  padding: 0;
  margin: 0 0 0 5px;

  font-weight: 400;
  font-size: 140px;
}

@media screen and (max-width: 320px)
{    
  .page-error__code
  {
    font-size: 80px;
    margin-bottom: 10px;
  }
}

/*********************************************/

.page-error__link
{
  border: none;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(32, 32, 32);
  color: rgb(42, 85, 244);
}

@media screen and (max-width: 320px)
{    
  .page-error__link
  {
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
