.promo
{
  margin: 0;
  padding: 0;
  height: 524px;

  background-color: rgb(7, 48, 66);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.promo__image
{
  margin: 0;
  padding: 0;
  
  opacity: 0.2;  

  background-size: 320px 320px;
  background-repeat: no-repeat;
  background-position: center; 
  
  grid-column: 1/2;
  grid-row: 1/2;
}

.promo__header
{
  margin: 184px auto auto;
  padding: 0;
  max-width: 730px;

  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;

  grid-column: 1/2;
  grid-row: 1/2;
}

@media screen and (max-width: 768px)
{
  .promo
  {
    height: 784px;
  }
  
  .promo__header
  {      
    margin-top: 326px;
  }
}

@media screen and (max-width: 320px)
{
  .promo
  {
    height: 570px;
  }

  .promo__image
  {
    opacity: 0.13;  
    background-size: 248px 248px;
  }
  
  .promo__header
  {      
    margin-top: 207px;
    max-width: 300px;

    font-size: 31px;
    line-height: 39px;
  }
}