.submit-error
{
  margin: 0 0 10px;
  padding: 0;

  color: rgb(238, 52, 101);

  display: block;
  min-height: 12px;

  font-size: 10px;
  font-weight: 400;

  display: none;
}

.input-error
{
  margin: 10px 0 0;
  padding: 0;

  color: rgb(238, 52, 101);

  min-height: 12px;

  font-size: 10px;
  font-weight: 400;
  
  display: none;
}

.found-error
{  
  margin: 50px 0 0;
  padding: 0;

  color: rgb(255, 255, 255);

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  
  display: none;  
}

.server-error
{  
  margin: 50px 0 0;
  padding: 0;

  color: rgb(238, 52, 101);

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  
  display: none;  
}

.error_visible
{
  display: block;
}