.auth-form__fon
{ 
  padding: 0;
  margin: 0;
  
  display: flex;
  justify-content: center;
}

/*********************************************/

.auth-form
{ 
  width: 396px;
  height: min-content;
  
  display: flex;
  flex-direction: column;

  padding: 70px 0;
  margin: 0;
}


@media screen and (max-width: 768px)
{
  .auth-form
  {
    padding: 232px 0;
  }
}

@media screen and (max-width: 420px)
{
  .auth-form
  {
    padding: 56px 0 30px;
    width: 260px;
  }
}

/*********************************************/

.auth-form__logo
{
  margin: 0;
  padding: 0;

  width: 38px;
  height: 38px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; 
}

@media screen and (max-width: 420px)
{
  .auth-form__logo
  {
    margin: 0 auto;
  }
}

/*********************************************/

.auth-form__title
{
  margin: 40px 0;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

@media screen and (max-width: 420px)
{
  .auth-form__title
  {
    margin: 50px auto 80px;
  }
}

/*********************************************/

.auth-form__comment
{
  margin: 20px 0 0;
  padding: 0;

  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;

  color: rgb(139, 139, 139);
}

/*********************************************/

.auth-form__input
{  
  margin: 10px 0 0 0;
  padding: 0;

  background-color: rgb(47, 47, 47);
  
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;

  height: 46px;
  width: 100%;

  border: 0;
  border-radius: 8px;
}

/*********************************************/

.auth-form__submit
{
  margin: 91px 0 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;

  width: 100%;
  height: 45px;

  border-radius: 3px;
  border: none;

  color: rgb(255, 255, 255);
  background-color: rgb(66, 133, 244);
}

@media screen and (max-width: 768px)
{
  .auth-form__submit
  {
    margin-top: 104px;
  }
}

@media screen and (max-width: 420px)
{
  .auth-form__submit
  {
    margin-top: 179px;
    font-size: 12px;
    line-height: 14.52px;
  }
}

/*********************************************/

.auth-form__question
{
  margin: 16px 0 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;

  color: rgb(139, 139, 139);

  display: flex;  
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 420px)
{
  .auth-form__question
  {
    margin-top: 14px;
    font-size: 12px;
    line-height: 14.52px;
  }
}

/*********************************************/

.auth-form__link
{
  padding: 0 6px;
  margin: auto 0;

  color: rgb(66, 133, 244);
  text-decoration: none;
}

/*********************************************/
.auth-form__invisible-element
{
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}