.lending
{
  width: 100%;
}

/*********************************************/

.lending__section
{  
  margin: 0;
  padding: 0 70px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px)
{
  .lending__section
  {
    padding: 0 50px;
  }
}

@media screen and (max-width: 320px)
{
  .lending__section
  {
    padding: 0 18px;
  }
}
/***********************************************/

.lending__header
{
  margin: 0;
  padding: 0 0 23px;

  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.04em;

  border-bottom: 1px solid rgb(218, 218, 218);
}


@media screen and (max-width: 320px)
{
  .lending__header
  {
    padding: 0 0 28px;

    font-size: 18px;
  }
}